.register {
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  color: whitesmoke;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.register-container {
  margin-top: 4.5rem;
  padding: 1rem;
  background-color: #363636;
  border-radius: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.register-title {
  text-align: center;
  color: whitesmoke;
  justify-content: center;
  padding: 0.5rem;
  background-color: #1c1919;
  width: 40%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: -1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.register-signin-button,
.register-signin-button:visited {
  color: whitesmoke;
}

.register-name-input,
.register-email-input,
.register-pwd-input,
.register-submit {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.register-label,
.register-submit {
  margin-top: 1rem;
}

.register-submit {
  padding: 0.5rem;
}

.register-instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.register-instructions > svg {
  margin-right: 0.25rem;
}

.register-offscreen {
  position: absolute;
  left: -9999px;
}

.register-hide {
  display: none;
}

.register-valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.register-invalid {
  color: red;
  margin-left: 0.25rem;
}

.register-errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register-line {
  display: inline-block;
}
