// * {
//   outline: 1px dotted red;
// }

.App {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  background-color: #201d1d;
  // background-image: url("./assets/background.jpg");
  margin: 0;
  padding: 0;
}
